In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv("TripAdvisorReview.csv")

In [2]:
df['Rating'].value_counts()

5    9054
4    6039
3    2184
2    1793
1    1421
Name: Rating, dtype: int64

In [3]:
df.head(5)

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [4]:
df_negative=df.loc[df['Rating']<3]
df_negative=df_negative.reset_index(drop=True)
df_five=df.loc[df['Rating']==5]
df_five=df_five.reset_index(drop=True)

In [5]:
print(len(df_negative))

3214

In [6]:
print(len(df_five))

9054

In [7]:
df_positive= df_five.loc[:len(df_negative)]
df_all=pd.concat([df_positive,df_negative],axis=0)
df_all=df_all.reset_index(drop=True)

In [8]:
len(df_all)

6429

In [9]:
# Create sentiment column
df_all['Sentiment']=np.where(df_all['Rating']==5,"Positive","Negative")
df_all=df_all.sample(frac=1)
df_all=df_all.reset_index(drop=True)
from sklearn.model_selection import train_test_split
X=df['Review']
y=df['Rating']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0)
from sklearn.feature_extraction.text import CountVectorizer
v=CountVectorizer()
X_train_vec=v.fit_transform(X_train)
X_test_vec=v.transform(X_test)
from sklearn import svm
clf_svm=svm.SVC(kernel="linear")

In [10]:
# Testing the Accuracy
clf_svm.fit(X_train_vec,y_train)

SVC(kernel='linear')

In [11]:
clf_svm.score(X_test_vec,y_test)

0.5552573798487436